//slide-in animation

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-animation {
  animation-name: slideInFromTop;
  animation-duration: 1s;
}

//make-blur animation
//https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_blurred_bg
@keyframes makeBlur {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(8px);
  }
}

.blur-animation {
  animation-name: makeBlur;
  animation-duration: 1s;
}


