<app-page-layout>
  <main class="px-[5%] md:p-0 md:w-9/12 mx-auto">

    <article class="table-cell align-middle h-screen">
      <span class="block text-tertiary">Hello dear visitor, my name is</span>
      <h1 class="font-bold text-primary text-5xl md:text-7xl leading-snug">
        Ziggy
        <br>
        <div class="text-secondary">Fullstack Web-Developer with DevOps experience</div>
      </h1>
    </article>

    <app-about></app-about>
    <app-experience></app-experience>
    <app-projects></app-projects>
    <app-training></app-training>
  </main>
</app-page-layout>
